<template>
    <div class="content">
        <Nav />
        <div class="m-3">
            <b-card-group deck>
                <b-card title="Amarillo" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/colores/AMARILLO.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Anaranjado" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/colores/ANARANJADO.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Azul" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/colores/AZUL.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Blanco" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/colores/BLANCO.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Cafe" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/colores/CAFE.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="Celeste" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/colores/CELESTE.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Color" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/colores/COLOR.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Gris" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/colores/GRIS.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Morado" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/colores/MORADO.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Negro" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/colores/NEGRO.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="Rojo" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/colores/ROJO.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Rosado" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/colores/ROSADO.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Verde" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/colores/VERDE.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Letra M" style="max-width: 40rem;">
                    <img
                        src="../assets/logoedecri-sinfondo.png"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Letra N" style="max-width: 40rem;">
                    <img
                        src="../assets/logoedecri-sinfondo.png"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
        </div>
        <Footer></Footer>
    </div>
</template>

<script>
import Nav from '@/components/navbar/navbarDemo.vue'
import Footer from '@/components/Footer/Footer.vue'

export default {
    name: 'InfoColores',
    components: {
        Nav,
        Footer
    }
}
</script>
