<template>
    <div class="content">
        <Nav />
        <div class="m-3">
            <b-card-group deck>
                <b-card title="El" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/pronombrespersonales/EL.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Ella" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/pronombrespersonales/ELLA.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Ellas" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/pronombrespersonales/ELLAS.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Ellos" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/pronombrespersonales/ELLOS.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Mi" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/pronombrespersonales/MI.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="Mio" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/pronombrespersonales/MIO.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Nosotros" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/pronombrespersonales/NOSOTROS.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Nuestro" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/pronombrespersonales/NUESTRO.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Personales" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/pronombrespersonales/PERSONALES.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Pronombre" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/pronombrespersonales/PRONOMBRE.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="Suyo" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/pronombrespersonales/SUYO.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Tu" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/pronombrespersonales/TU.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Tu Mismo" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/pronombrespersonales/TUMISMO.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Tuyo" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/pronombrespersonales/TUYO.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Vosotros" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/pronombrespersonales/VOSOTROS.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="Vuestro" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/pronombrespersonales/VUESTRO.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Yo" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/pronombrespersonales/YO.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Yo Mismo" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/pronombrespersonales/YOMISMO.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Edecri" style="max-width: 40rem;">
                    <img
                        src="../assets/logoedecri-sinfondo.png"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Edecri" style="max-width: 40rem;">
                    <img
                        src="../assets/logoedecri-sinfondo.png"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
        </div>
        <Footer></Footer>
    </div>
</template>

<script>
import Nav from '@/components/navbar/navbar.vue'
import Footer from '@/components/Footer/Footer.vue'

export default {
    name: 'InfoNumeros',
    components: {
        Nav,
        Footer
    }
}
</script>
