<template>
    <div class="content">
        <Nav />
        <div class="m-3">
            <b-card-group deck>
                <b-card title="Letra A" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/A.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Letra B" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/B.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This card has supporting text below as a natural lead-in to additional
                        content.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Letra C" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/C.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Letra D" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/D.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Letra E" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/E.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="Letra F" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/F.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Letra G" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/G.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This card has supporting text below as a natural lead-in to additional
                        content.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Letra H" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/H.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Letra I" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/I.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Letra J" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/J.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="Letra K" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/K.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Letra L" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/L.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This card has supporting text below as a natural lead-in to additional
                        content.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Letra LL" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/LL.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Letra M" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/M.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Letra N" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/N.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="Letra O" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/O.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Letra P" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/P.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This card has supporting text below as a natural lead-in to additional
                        content.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Letra Q" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/Q.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Letra R" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/R.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Letra S" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/S.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="Letra T" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/T.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Letra U" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/U.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This card has supporting text below as a natural lead-in to additional
                        content.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Letra V" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/V.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Letra W" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/W.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Letra X" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/X.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="Letra Y" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/Y.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Letra Z" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/Z.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This card has supporting text below as a natural lead-in to additional
                        content.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Letra CH" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/CH.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Letra RR" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/abcdario/RR.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="EDECRI" style="max-width: 40rem;">
                    <img
                        src="../assets/logoedecri-sinfondo.png"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
        </div>
        <Footer></Footer>
    </div>
</template>

<script>
import Nav from '@/components/navbar/navbar.vue'
import Footer from '@/components/Footer/Footer.vue'

export default {
    name: 'InfoAbcdario',
    components: {
        Nav,
        Footer
    }
}
</script>
