<template>
    <div class="content">
        <Nav />
        <div class="m-3">
            <b-card-group deck>
                <b-card title="Letra A" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/A.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Letra B" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/B.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>

                    <b-card-text>
                        This card has supporting text below as a natural lead-in to additional
                        content.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Letra C" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/C.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Letra D" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/D.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="Letra E" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/E.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Letra F" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/F.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>

                    <b-card-text>
                        This card has supporting text below as a natural lead-in to additional
                        content.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Letra G" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/G.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Letra H" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/H.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="Letra I" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/I.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Letra J" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/J.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>

                    <b-card-text>
                        This card has supporting text below as a natural lead-in to additional
                        content.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Letra K" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/K.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Letra L" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/L.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="Letra LL" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/LL.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Letra M" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/M.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>

                    <b-card-text>
                        This card has supporting text below as a natural lead-in to additional
                        content.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Letra N" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/N.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Letra O" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/O.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="Letra P" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/P.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Letra Q" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/Q.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>

                    <b-card-text>
                        This card has supporting text below as a natural lead-in to additional
                        content.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Letra R" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/R.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Letra RR" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/RR.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="Letra S" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/S.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Letra T" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/T.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>

                    <b-card-text>
                        This card has supporting text below as a natural lead-in to additional
                        content.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Letra U" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/U.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Letra V" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/V.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="Letra W" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/W.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Letra X" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/X.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>

                    <b-card-text>
                        This card has supporting text below as a natural lead-in to additional
                        content.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Letra Y" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/Y.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Letra Z" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/abecedario/Z.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
        </div>
        <Footer></Footer>
    </div>
</template>

<script>
import Nav from '@/components/navbar/navbar.vue'
import Footer from '@/components/Footer/Footer.vue'

export default {
    name: 'VideoAbcdario',
    components: {
        Nav,
        Footer
    }
}
</script>
