<template>
    <div class="content">
        <Nav />
        <div class="m-3">
            <b-card-group deck>
                <b-card title="Amarillo" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/colores/AMARILLO.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Anaranjado" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/colores/ANARANJADO.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>

                    <b-card-text>
                        This card has supporting text below as a natural lead-in to additional
                        content.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Azul" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/colores/AZUL.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Cafe" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/colores/CAFE.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="Celeste" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/colores/CELESTE.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Gris" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/colores/GRIS.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>

                    <b-card-text>
                        This card has supporting text below as a natural lead-in to additional
                        content.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Lila" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/colores/LILA.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Morado" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/colores/MORADO.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="Negro" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/colores/NEGRO.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Rojo" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/colores/ROJO.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>

                    <b-card-text>
                        This card has supporting text below as a natural lead-in to additional
                        content.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Rosado" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/colores/ROSADO.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Verde" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/colores/VERDE.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="Violeta" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/colores/VIOLETA.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Colores" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/colores/inicio_colores.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>

                    <b-card-text>
                        This card has supporting text below as a natural lead-in to additional
                        content.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Colores" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/colores/inicio_colores.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Colores" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/colores/inicio_colores.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
        </div>
        <Footer></Footer>
    </div>
</template>

<script>
import Nav from '@/components/navbar/navbar.vue'
import Footer from '@/components/Footer/Footer.vue'

export default {
    name: 'VideoColores',
    components: {
        Nav,
        Footer
    }
}
</script>
