<template>
    <div class="content">
        <Nav />
        <div class="m-3">
            <b-card-group deck>
                <b-card title="El o Ella" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/ELLA.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Ella o Ellos" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/ELLAS_O_ELLOS.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>

                    <b-card-text>
                        This card has supporting text below as a natural lead-in to additional
                        content.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Ellas" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/ELLAS.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Ellos" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/ELLOS.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="Estos" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/ESTOS.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="HOMBRE" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/HOMBRE.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>

                    <b-card-text>
                        This card has supporting text below as a natural lead-in to additional
                        content.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="MÖ" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/MÖ.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="MÖ" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/MÖO.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="MUJER" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/MUJER.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="NOSOTROS" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/NOSOTROS.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>

                    <b-card-text>
                        This card has supporting text below as a natural lead-in to additional
                        content.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="NUESTRO" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/NUESTRO.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Oyente" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/OYENTE.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="Persona Oyente" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/PERSONA_OYENTE.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Persona Sorda" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/PERSONA_SORDA.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>

                    <b-card-text>
                        This card has supporting text below as a natural lead-in to additional
                        content.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Sordo" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/SORDO.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Suyo" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/SUYO.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="Tu" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/TE.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Tu mismo" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/TEMISMO.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>

                    <b-card-text>
                        This card has supporting text below as a natural lead-in to additional
                        content.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Todos" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/TODOS.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Tuyo" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/TUYO.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="Ustedes" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/USTEDES.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Vosotros" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/VOSOTROS.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>

                    <b-card-text>
                        This card has supporting text below as a natural lead-in to additional
                        content.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Vuestro" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/VUESTRO.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Yo Mismo" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/YOMISMO.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="Yo soy oyente" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/YO_SOY_OYENTE.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Yo soy Sordo" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/YO_SOY_SORDO.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>

                    <b-card-text>
                        This card has supporting text below as a natural lead-in to additional
                        content.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="忧" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/忧.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Pronombres Personales" style="max-width: 40rem;">
                    <video
                        src="../assets/videos/pronombres/PRONOMBRES_PERSONALES.mp4"
                        controls
                        width="300"
                        height="300"
                    ></video>
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
        </div>
        <Footer></Footer>
    </div>
</template>

<script>
import Nav from '@/components/navbar/navbar.vue'
import Footer from '@/components/Footer/Footer.vue'

export default {
    name: 'VideoPronombres',
    components: {
        Nav,
        Footer
    }
}
</script>
